@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font: 400 14px Roboto, sans-serif;
	background: #f0f0f5;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	font: 400 14px Roboto, sans-serif;
}

button {
	cursor: pointer;
}

ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

li {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header {
	height: 100%;
	max-height: 100px;
	width: 100%;
	background-color: #000;
	text-align: center;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .link {
	color: #fff;
	text-decoration: none;
}

header img {
	max-height: 100%;
}

.button {
	padding: 0px;
	border: 0;
	border-radius: 8px;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	transition: 0.2s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	filter: brightness(90%);
}

.container {
	width: 100%;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.container .content {
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #f0f0f0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .content section {
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: #fff;
	border: solid 3px #aaa;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

.pt-br .language.pt-br,
.en-ca .language.en-ca,
.fr-ca .language.fr-ca {
	display: flex !important;
}

.pt-br .lang-pt-br,
.en-ca .lang-en-ca,
.fr-ca .lang-fr-ca {
	opacity: 1;
}
